apiVersion: v1
kind: Service
metadata:
  name: nginx-svc
  namespace: dev
  labels:
    env: dev
    type: frontend

spec:
  selector:
    app: nginx-app
  ports:
   - targetPort: 80
     port: 80
     nodePort: 30080
  type: NodePort